<head>
  <link rel="stylesheet" href="/Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/Content/css/styles.css" type="text/css">
</head>
<body>
  <h2>You have added a new entry to the records!</h2>
  <a href="/bands">Bands List</a>
  <a href="/venues">Venues List</a>
  <a href="/">Home</a>
</body>
