<head>
  <link rel="stylesheet" href="/Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/Content/css/styles.css" type="text/css">
</head>
<body>
  <h2>You have added a new entry to the records!</h2>
  <h3><a href="/bands">Bands List</a></h3>
  <h3><a href="/venues">Venues List</a></h3>
  <h3><a href="/">Home</a></h3>
</body>
