<head>
  <link rel="stylesheet" href="/Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/Content/css/styles.css" type="text/css">
</head>
<body>
  <h1 class="page-header">The Band Tracker</h1>
  <a href="/bands"><h2>View All Bands</h2></a>
  <a href="/venues"><h2>View All Venues</h2></a>
</body>
