<head>
  <link rel="stylesheet" href="/Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/Content/css/styles.css" type="text/css">
</head>
<body>
  <h1 class="page-header">The Band Tracker</h1>
  <h2><a href="/bands">View All Bands</a></h2>
  <h2><a href="/venues">View All Venues</a></h2>
</body>
