<head>
  <link rel="stylesheet" href="/Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/Content/css/styles.css" type="text/css">
</head>
<body>
  <h1 class="page-header">The Band Tracker</h1>
  <a href="/bands"><h2>View All Bands</h2></a>
  <a href="/venues"><h2>View All Venues</h2></a>
  <!-- <form class="form-group" action="/bands" method="post">
    <div class="row">
      <button type="button" class="col-xs-6 btn btn-success">View All Bands</button>
      <button type="button" class="col-xs-6 btn btn-success" formaction="/venues">View All Venues</button>
    </div>
  </form> -->
</body>
