<head>
  <link rel="stylesheet" href="/Content/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/Content/css/list-styles.css" type="text/css">
</head>
<body>
  <h1 class="page-header">Venues</h1>
  @if (Model.Count == 0)
  {
    <h3>There are currently no venues in our records</h3>
  }
  else
  {
    @foreach (var venue in Model)
    {
      <a href="/venues/@venue.GetId()/@venue.GetName()"><h2>@venue.GetName()</h2></a>
    }
  }
  <form class="form-group" action="/venues/new" method="post">
    <p>Name <input required type="text" name="venue-name" class="form-control"></p>
    <div class="row">
      <div class="col-xs-3">
        <p>Street Address <input required type="text" name="venue-street-address" class="form-control"></p>
      </div>
      <div class="col-xs-3">
        <p>City <input required type="text" name="venue-city" class="form-control"></p>
      </div>
      <div class="col-xs-3">
        <p>State <input required type="text" name="venue-state" class="form-control"></p>
      </div>
      <div class="col-xs-3">
        <p>Zipcode <input required type="text" name="venue-zipcode" class="form-control"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <p>Phone Number <input required type="text" name="venue-phone-number" class="form-control"></p>
      </div>
      <div class="col-xs-6">
        <p>Website <input required type="text" name="venue-website" class="form-control"></p>
      </div>
    </div>
    <p>Event Date <input required type="text" name="venue-event-date" class="form-control"></p>
    <button type="submit" class="btn btn-success">Add New Venue</button>
  </form>
  <form class="form-group" action="/venues/deleted" method="post">
    <button type="button" class="btn btn-danger">Delete All Venues</button>
  </form>
  <a href="/">Home</a>
</body>
