body {
  font-family: serif;
  color: #000000;
  background-color: #FFFFFF;
}

.page-header {
  text-align: center;
  font-size: 40pt;
}

.contact-row {
  margin-left: 50px;
}

.contact-info {
  text-align: center;
  font-size: 15pt;
}

.list-header {
  text-align: center;
  margin-top: 50px;
}

.list {
  text-align: center;
}

.h3-header {
  margin-top: 50px;
  margin-left: 50px;
}

form {
  margin-left: 50px;
  margin-right: 50px;
}

form p {
  font-size: 15pt;
}

.select {
  margin-top: 10px;
}

.btn-primary, .btn-success, .btn-danger {
  font-size: 15pt;
  margin-top: 15px;
}

.btn-danger {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.page-link {
  text-align: center;
}

.home-link {
  margin-bottom: 100px;
}
